Source: ktextwidgets
Section: libs
Priority: optional
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Scarlett Clark <scarlett@scarlettgatelyclark.com>
Build-Depends: debhelper (>= 9.0.0), cmake, pkg-kde-tools,
 extra-cmake-modules, qtbase5-dev, libkf5completion-dev, libkf5service-dev, 
 libkf5sonnet-dev, xauth, xvfb, libkf5iconthemes-dev, libkf5config-dev,
 libkf5i18n-dev, libkf5kjs-dev, libkf5widgetsaddons-dev, libkf5configwidgets-dev,
 libkf5auth-dev, libkf5coreaddons-dev, libkf5codecs-dev, libkf5guiaddons-dev,
 libkf5itemviews-dev, libkf5dbusaddons-dev, libkf5windowsystem-dev
Standards-Version: 3.9.5
Homepage: https://projects.kde.org/projects/frameworks/ktextwidgets

Package: libkf5textwidgets-dev
Section: libdevel
Architecture: any
Depends: libkf5textwidgets5 (= ${binary:Version}), ${misc:Depends}
Description: development files for ktextwidgets
 An assortment of text-related widgets.
 .
 Contains development files for ktextwidgets.
 
Package: libkf5textwidgets5
Architecture: any
Multi-Arch: allowed
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Advanced text editing widgets.
 An assortment of text-related widgets

Package: libkf5textwidgets5-dbg
Priority: extra
Section: debug
Architecture: any
Multi-Arch: allowed
Depends: libkf5textwidgets5 (= ${binary:Version}), ${misc:Depends}
Description: debug symbols for ktextwidgets
 An assortment of text-related widgets
 .
 Contains debug symbols for ktextwidgets.
